body {
  background-color: rgb(26, 24, 64);
  overflow-x: hidden;
}

#nav {
  width: 100%;
  height: 30px;

  line-height: 30px;

  position: sticky;
  top: 0px;
  left: 0px;

  background-color: white;
}

.img {
  width: 100%;
  height: 100%;
}

.panel {
  position: relative;
  width: 75%;

  top: 150px;
  left: 12.5%;

}

#book-title {
  z-index: 2;
  position: absolute;
  top: 70px;
  left: 35%;
  color: white;
  text-align: center;
  font-size: 70px;
}

#cover-emily {
  z-index:2;
  width: 490px;
  height: 620px;

  position: absolute;
  top: 90px;
  left: -110px;
}

#cover-palm {
  z-index:0;
  width: 900px;
  height: 500px;

  position: absolute;
  top: 120px;
  right: 0px;
}

#cover-monster {
  z-index: 1;
  width:800px;
  height:800px;

  position: absolute;
  left:30px;
}

#panel-1 {}

#panel-2 {
  top: 350px;
}

#panel-3 {
  top: 550px;
}