html {
  width: 1700px;
}

body {
  font-family: Halvetica, Arial;
  background-color: rgb(26, 24, 64);
  overflow-x: hidden;
  width: 1700px;
}

#nav {
  width: 100%;
  height: 30px;

  line-height: 30px;

  position: sticky;
  top: 0px;
  left: 0px;

  background-color: white;
}

.img {
  position: relative;
  width: 75%;
}

.img-cover {
/*  display: inline-block;*/
  width: 70%;
  height: 70%;
/*  margin-top:160px;*/
}

.panel {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
}

/*title of the story*/
#book-title {
  font-family: 'Horror Type', sans-serif;
  z-index: 2;
  position: absolute;
  margin-bottom: 0px;
  left: 40%;
  color: white;
  text-align: center;
  font-size: 150px;
}
#subtitle{
  color:#D72525;
  padding: 0px;
  margin-top:0px;
  font-size:35px;
}

#cover-emily {
  z-index:2;
  width: 520px;
  height: 620px;
  margin-top:5px;
  position: absolute;
  top: 280px;
  left: 170px;
}

#emily1{
  z-index: 2;
  position: absolute;
}

#emily3{
  z-index: 2;
  position: absolute;
}

#emily2{
  z-index: 2;
  position: absolute;
}

#cover-palm {
  z-index:0;
  width: 90vw;
  height: 700;
  margin-top:55px;
  position: absolute;
  top: 80px;
  left: 308px;
}

#cover-monster {
  z-index: 1;
  width:350px;
  height:350px;

  position: absolute;
  left:980px;
  top:490px;
}

.placeholder{
  position: relative;
  height:50vh;
}